* {
    margin: 0;
    padding: 0;
}

body {
    margin: 200px auto;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url('https://source.unsplash.com/1600x900/?nature,water');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -2;
}

.counter {
    opacity: 0.9;
    width: 500px;
    display: block;
    margin: 0 auto;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(0, 0, 0, .125);
    border-radius: .25rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 40px 0;
}

.container h1 {
    text-transform: uppercase;
    font-size: 60px;
    color: rgba(5, 25, 92, 0.815);
}

.container span {
    font-size: 100px;
}

.button-container button {
    margin: 0 8px;
    font-size: large;
    font-weight: normal;
    text-transform: uppercase;
    padding: 5px;
    width: 100px;
    height: 40px;
    background: none;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 8px;
}

.btn.decrease:hover {
    background-color: rgb(223, 71, 60);
}

.btn.reset:hover {
    background-color: rgb(83, 163, 216);
}

.btn.increase:hover {
    background-color: rgb(82, 165, 82);
}